.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v

src/sim_build
src/__pycache__/
src/__tinytapeout
src/results.xml

src/user_config.tcl
tb/output.txt
tb/verilog_output.txt
sim_out
sim_out/*

*.jpg
*.png